{% extends "base.html" %}
{% block content %}

 <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Equipes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Equipes</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <section class="content">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
              <h3 class="card-title">Equipes</h3>
              <a href="{% url 'createAgendamento' %}" class="btn btn-primary">Novo Agendamento</a>
          </div>
        </div>

          <!-- conteudo -->

      </div>
     </section>
{% endblock %}