{% extends "base.html" %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Início</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container dashboard">
            <div class="col-4 dashboard-box" id="dashboard-new-agendamentos">
                <h4>Agendamentos em Progresso</h4>
                <span>0</span>
            </div>
            <div class="col-4 dashboard-box" id="dashboard-slas">
                <h4>SLAs em Progresso</h4>
                <span>0</span>
            </div>
            <div class="col-4 dashboard-box" id="dashboard-fimagendamento">
                <h4>Agendamentos Finalizados</h4>
                <span>0</span>
            </div>
        </div>
    </section>
{% endblock %}