{% extends "base.html" %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Relatório de SLA</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Agendament1os</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
              <h3 class="card-title">Agendamentos</h3>
              <a href="{% url 'createAgendamento' %}" class="btn btn-primary">Novo Agendamento</a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Equipe</th>
                  <th>Nome</th>
                  <th>Endereço</th>
                  <th>Login (Cliente)</th>
                  <th>Senha (Cliente)</th>
                  <th>Tipo de Pessoa</th>
                  <th>Solução Encontrada</th>
                  <th>Valor</th>
                  <th>Encerrado</th>
                  <th>Necessidade de reagendar</th>
                  <th>Cadastrado por</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                        <tr>
                            <td>Teste</td>
                            <td>{{ agendamento.nome }}</td>
                            <td>{{ agendamento.endereco }}</td>
                            <td>{{ agendamento.loginCliente }}</td>
                            <td>{{ agendamento.senhaCliente }}</td>
                            <td>{{ agendamento.tipoPessoa }}</td>
                            <td>{{ agendamento.informServico }}</td>
                            <td>R$ {{ agendamento.valor }}</td>
                            <td>{{ agendamento.isEncerrado }}</td>
                            <td>{{ agendamento.isReagendado }}</td>
                            <td>{{ agendamento.cadastradoPor }}</td>
                            <td>
                                <a href="{% url 'updateAgendamento' agendamento.id %}" class="text-muted">
                                <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
{% endblock %}