{% extends "base.html" %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lista de Usuários</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../home">Home</a></li>
              <li class="breadcrumb-item active">Lista de Usuários</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      {% if user.is_staff %}
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
              <h3 class="card-title">Usuários</h3>
              <a href="{% url 'createUser' %}" class="btn btn-primary">Novo Usuário</a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Cargo</th>
                        <th>Tipo de Acesso</th>
                        <th>Último Acesso</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in users %}
                    <tr>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.login }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.telefone }}</td>
                        <td>{{ usuario.cargo }}</td>
                        <td>{% if usuario.is_staff == True %} Administrador {% else %} Usuário {% endif %}</td>
                        <td>{{ usuario.last_login|date:"d/n/o - G:i" }}</td>
                        <td>
                            <a href="{% url 'updateUser' usuario.id %}" class="text-muted">
                            <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      {% else %}
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <h3 class="card-title">Acesso negado!</h3>
                </div>
            </div>
            <div class="card-body">
                <h2>Você não tem permissão para acessar esta página!</h2>
            </div>
        </div>
      {% endif %}
    </section>
{% endblock %}