{% extends "base.html" %}
{% block content %}
<!-- CSS Styling -->
    <style>
        .dashboard {
            padding: 0;
            width: 100%;
            display: block;
        }

        .dashboard h4 {
            font-size: 20px;
        }

        .dashboard span {
            font-size: 40px;
            display: block;
            width: 100%;
        }

        .dashboard-box {
            float: left;
            background-color: #343a40;
            color: #FFFFFF;
            padding: 20px;
            box-sizing: border-box;
            height: 130px;
            width: 32%;
            text-align: center;
        }

        .dashboard-box:nth-child(2) {
            margin-left: 1.5%;
            margin-right: 1.5%;
        }
    </style>

    <!-- Header -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Início</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container dashboard">
            <div class="col-4 dashboard-box" id="dashboard-new-agendamentos">
                <h4>Agendamentos Finalizados</h4>
                <span>{{ agentamentosdone }}</span>
            </div>
            <div class="col-4 dashboard-box" id="dashboard-slas">
                <h4>SLAs em Progresso</h4>
                <span>0</span>
            </div>
            <div class="col-4 dashboard-box" id="dashboard-fimagendamento">
                <h4>Agendamentos em Progresso</h4>
                <span>{{ agendamentosdoing }}</span>
            </div>
            <canvas id="myChart" height="20"></canvas>
            <div class="row-cols-1">
                    <div class="container dashboard">
                        <div id="piechart_3d" style="width: 570px; height: 300px;"></div>
                    </div>



            </div>

            <!-- Agendamentos Recentes -->
            <div class="card col-6">
              <div class="card-header border-transparent">
                <h3 class="card-title">Últimos Agendamentos</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Item</th>
                      <th>Status</th>
                      <th>Popularity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Foda-se a lei</td>
                      <td>Eu sou a lei</td>
                      <td>Teste</td>
                      <td>Teste</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
              </div>
              <!-- /.card-footer -->
            </div>
        </div>
    </section>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Em aberto', {{ agendamentosdoing }}],
          ['Encerrados', {{ agentamentosdone }}]
        ]);

        var options = {
          title: 'Relação de Agendamentos',
          is3D: false,
          backgroundColor: '#343a40',
          textColor: '#FFFFFF',
          titleTextStyle: {color:'#FFFFFF'},
          legendTextStyle: {color: '#FFFFFF'}
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}